* {
  margin: 0;
  padding: 0;
  /*preenchimento interno*/
  box-sizing: border-box;
  /*box sizing altera as propriedades do box model, usada para altura e largura, border-box inclui o padding size*/
  line-height: 2rem;
  /*expaçamento entre linhas*/
}

:root {
  --backgroundPagina: #eaeaea;
  --backgroundReceita: #ffffff;
  --titulosSubtítulos: #67078d;
  --footerLegenda: #8f8f8f;
  --outrosTextos: #0a0a0a;
}

body {
  background: var(--backgroundPagina);
  color: var(--outrosTextos);
  font-family: 'Corinthia';
  font-size: 2.5rem;
}

div {
  background: var(--backgroundReceita);
  width: 75%;
  right: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.4rem;
}

h1 {
  padding-top: 2rem;
  line-height: 3rem;
  margin-top: 2rem;
  text-align: center;
  color: var(--titulosSubtítulos);
  font-size: 6rem;
}

h2 {
  color: var(--titulosSubtítulos);
  text-align: center;
  font-size: 3.5rem;
}

img {
  width: 40rem;
  border-radius: 0.4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
  margin-bottom: 5pxpx;
}

figcaption {
  font-style: italic;
  text-align: right;
  padding-right: 12rem;
  font-size: 1.5rem;
}

ul {
  padding-left: 2rem;
  text-align: left;
  list-style: circle;
  list-style-position: inside;
}

ol {
  padding-left: 2rem;
  text-align: left;
  list-style: upper-roman;
  list-style-position: inside;
}

p {
  padding-left: 2rem;
}

footer {
  color: var(--footerLegenda);
  text-align: center;
  font-size: 1.75rem;
}
