* {
  margin: 0;
  padding: 0;
  /*preenchimento interno*/
  box-sizing: border-box;
  /*box sizing altera as propriedades do box model, usada para altura e largura, border-box inclui o padding size*/
  line-height: 2rem;
  /*expaçamento entre linhas*/
}

:root {
  --backgroundPagina: #eaeaea;
  --backgroundReceita: #ffffff;
  --titulosSubtítulos: #1b1b1b;
  --footerLegenda: #8f8f8f;
  --outrosTextos: #39393a;
}

body {
  background: var(--backgroundPagina);
  font-family: 'Corinthia';
  color: var(--outrosTextos);
}

div {
  background: var(--backgroundReceita);
  color: var(--white);
  width: 80rem;
  right: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.4rem;
  padding-left: 2rem;
}

h1 {
  padding-top: 1rem;
  line-height: 3rem;
  margin-top: 2rem;
  text-align: center;
  color: var(--titulosSubtítulos);
  font-size: 50px;
}

h2 {
  color: var(--titulosSubtítulos);
  text-align: center;
  font-size: 35px;
}

img {
  width: 40rem;
  border-radius: 0.4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-style: italic;
  text-align: center;
}

ul {
  text-align: left;
  list-style: circle;
  list-style-position: inside;
}

ol {
  text-align: left;
  list-style: upper-roman;
  list-style-position: inside;
}

footer {
  color: var(--footerLegenda);
  text-align: center;
  font-size: 15px;
}
